<h1>Hello!</h1>
<p>My ip is: {{ myip }}</p>
<p>ip of docker host is: {{ dockerip }}</p>

<h2>loop</h2>
{% for host in groups['linux']|sort %}
   <p>{{ hostvars[host]['ansible_hostname'] }} : {{ hostvars[host]['ansible_enp0s8']['ipv4']['address'] }}</p>
{% endfor %}

<h3>test jinja default value -> apache ip: {{ apacheip | default('defaultip') }}</h3>